.container-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
}

.foto-funcionario{
    width: 95px;
    height: 95px;
    border-radius: 100%;
    object-fit: cover;
    object-position: top;
}