<mat-drawer-container autosize>
    <mat-drawer #drawer mode="over">
        <mat-nav-list>
            <div class="divPerfil">
                <img [src]=" usuario.foto || 'assets/img/perfil.jpg' " alt="foto de perfil" width="180px">
                <h2 class="usuario"> {{ usuario.nome }} </h2>
            </div>
            <a mat-list-item routerLink="/home" routerLinkActive="active">
                <i class="material-icons">home</i>
                Página principal
            </a>
            <a mat-list-item routerLink="/clientes" routerLinkActive="active">
                <i class="material-icons">person</i>
                Clientes
            </a>
            <a mat-list-item routerLink="/funcionarios" routerLinkActive="active">
                <i class="material-icons">support_agent</i>
                Funcionários
            </a>
            <a mat-list-item routerLink="/cargos" routerLinkActive="active">
                <i class="material-icons">badge</i>
                Cargos
            </a>
            <a mat-list-item routerLink="/chamados" routerLinkActive="active">
                <i class="material-icons">perm_phone_msg</i>
                Chamados
            </a>
            <a mat-list-item (click)="logout()" routerLinkActive="active" routerLink="/login">
                <i class="material-icons">logout</i>
                Logout
            </a>
        </mat-nav-list>
        <img src="../../../assets/img/quad1.png" width="85px" class="logo">
    </mat-drawer>
    <mat-drawer-content>
        <mat-toolbar color="primary">
            <button type="button" mat-icon-button (click)="drawer.toggle()">
                <i class="material-icons">menu</i>
            </button>
            <img src="../../../assets/img/ext3.png" width="120px" routerLink="/home">
            <button class="material-symbols-outlined" mat-icon-button 
            (click)="alterarTema()">
                <i class="material-icons">{{tema.tipo}}</i>
            </button>
        </mat-toolbar>
        <div class="container">
            <ng-content></ng-content>
        </div>
    </mat-drawer-content>
</mat-drawer-container>