
<div class="dialog-container">
    <button mat-icon-button mat-dialog-close="">
        <i class="material-icons">close</i>
    </button>
    <h3>Detalhes</h3>
    <span><Strong>ID:</Strong>{{cliente.id}}</span><br>
    <span><Strong>NOME:</Strong>{{cliente.nome}}</span><br>
    <span><Strong>EMAIL:</Strong>{{cliente.email}}</span><br>
    <span><Strong>CPF:</Strong>{{cliente.cpf}}</span><br>
    <span><Strong>TELEFONE:</Strong>{{cliente.telefone}}</span><br>
    <span><Strong>PERFIL:</Strong>{{cliente.perfil}}</span><br>
    
    


</div>

