.container-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
}

.filtros{
    display: flex;
    flex-direction: column;
    font-size: 13px;
}

.filtros div{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.button-filtro{
    box-shadow: 5px 5px 7px #b6acac, 
        -5px -5px 7px #faf4f4;
    box-sizing:  border-box;
    border: none;
    margin-left: 20px;
}

.button-filtro:active{
    box-shadow: inset 1px 1px 2px #babecc, 
    inset -1px -1px 2px #fff;
}

.radio-status{
    display: flex;
    width: 100%;
    margin-bottom: 30px;
    
}

.radio-status mat-radio-button{
    margin-left: 10px;
    color: rgb(134, 134, 134);
}

:host ::ng-deep .mat-radio-container{
    height: 13px;
    width: 13px;
  }
  :host ::ng-deep .mat-radio-outer-circle{
    height: 13px;
    width: 13px;
  }
  :host ::ng-deep .mat-radio-inner-circle{
    height: 13px;
    width: 13px;
  }
  :host ::ng-deep .mat-radio-button .mat-radio-ripple{
    height: 20px; /*double of your required circle radius*/
    width: 20px;  /*double of your required circle radius*/
    left: calc(50% - 10px); /*'10px'-same as your required circle radius*/
    top: calc(50% - 10px); /*'10px'-same as your required circle radius*/
  }

.radio-status mat-label{
    color: rgb(134, 134, 134);
}

.filtro{
    width: 320px;

}

.recebido{
    background-color: rgb(215, 98, 98);
    background-image: url(/assets/icons/seta-para-baixo.png);
    background-repeat: no-repeat;
    background-size: 17px;
    background-position: 12px 4px;
    color: aliceblue;
    font-size: 10px;
    font-weight: bold;
    text-align: end;
    padding: 3px 15px 3px 0;
    border-radius: 15px;
    width: 105px;
}

.atribuido{
    background-color: rgb(140, 108, 215);
    background-image: url(/assets/icons/adicionar-contato.png);
    background-repeat: no-repeat;
    background-size: 14px;
    background-position: 12px 6px;
    color: aliceblue;
    font-size: 10px;
    font-weight: bold;
    text-align: end;
    padding: 3px 15px 3px 0;
    border-radius: 15px;
    width: 105px;
}

.concluido{
    background-color: rgb(96, 167, 125);
    background-image: url(/assets/icons/check-mark.png);
    background-repeat: no-repeat;
    background-size: 14px;
    background-position: 10px 6px;
    color: aliceblue;
    font-size: 10px;
    font-weight: bold;
    text-align: end;
    padding: 3px 13px 3px 0;
    border-radius: 15px;
    width: 105px;
}

.arquivado{
    background-color: rgb(126, 125, 125);
    background-image: url(/assets/icons/abrir-contorno-da-pasta.png);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: 12px 4px;
    color: aliceblue;
    font-size: 10px;
    font-weight: bold;
    text-align: end;
    padding: 3px 12px 3px 0;
    border-radius: 15px;
    width: 105px;
}